
{% extends 'authenticate/base.html'%}

{% load static %}

{% block content %}
 
<h1 class='display-4 text-monospace'> Welcome to Online Study Hall </h1>
<hr>
<!-- 
{% if user.is_authenticated %}
  <p>Your Name: {{ user.first_name }} {{ user.last_name }}</p>
  <p>Username: {{ user.username }}</p>
  <p>Email: {{ user.email }}</p>
   <p>fav_color: {{ user.fav_color }}</p> -->
  <!-- <li>Location: {{ user.profile.location }}</li>
  <li>Birth Date: {{ user.profile.birth_date }}</li> -->



<!-- {% endif  %} -->


<h1 class='display-6 text-monospace'>What is Online Study Hall?</h2>

<p class='text-monospace'>Online Study Hall is a weekly online event for English learners. In order to help you learn English, a tutor answers to the questions you may have. </p> 
<p class='text-monospace'>This study event aims to motivate the learners by regulary studying together with other learners. Learners can ask their questions to the tutor regarding English language. </p>
<p class='text-monospace'>Please register as a user if you are interested in. We will invite you to Online Study Hall.</p>


<br>


<p class='text-center text-monospace'>Currently, study sessions are scheduled on Saturday at 2:00 PM. </p>
<figure class="figure"></figure>
  <img src=" {% static 'authenticate/50-participant-gallery-view-example.png' %}" class="img-fluid rounded mx-auto d-block" alt="Responsive image"/>
  <figcaption class="figure-caption text-center">The study session will be like an image above. Other functions such as a calender and a booking system are currently under develpment.</figcaption>
</figure>
<br>
<br>
<dl class="row border border-secondary">
  <dt class="col-sm-3 text-center">Members</dt>
  <dd class="col-sm-9 text-center">Anyone who studies English or other subjects.</dd>

  <dt class="col-sm-3 text-center">Time</dt>
  <dd class="col-sm-9 text-center">To be announced.</dd>

  <dt class="col-sm-3 text-center" >Price</dt>
  <dd class="col-sm-9 text-center">At this moment, FREE for everyone.</dd>

  <dt class="col-sm-3 text-center">Textbooks</dt>
  <dd class="col-sm-9 text-center">Please prepare by yourself.</dd>

  <dt class="col-sm-3 text-center">Screen</dt>
  <dd class="col-sm-9 text-center">You do not have to show your face on screen but please show at least your hands so that other people know that you are working.</dd>
     
  <dt class="col-sm-3 text-center">Questions</dt>
  <dd class="col-sm-9 text-center">You can chat with me or call me when you have questions.  </dd>


  <dt class="col-sm-3 text-center">Personal mentoring</dt>
  <dd class="col-sm-9 text-center">Personal mentoring is available. Please <a href="https://twitter.com/_Newword">contact me </a>so I can give you some advice for your study.</dd>
   

  <dt class="col-sm-3 text-center">Recruit</dt>
  <dd class="col-sm-9 text-center">To be announced.</dd>

  </dd>
</dl>
<br>
<br>


<p></p>

<!-- {% if user.is_authenticated %} -->
<!-- {% endif %} -->


<br><br>
{% endblock %}
